.hero {
  --hero-width: clamp(85px, 15vw, 170px);

  position: relative;
  width: var(--hero-width);
  aspect-ratio: 170 / 179;
  flex: 0 0 auto;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 18.99%;
    height: 15.64%;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 59.78%;
    height: 14.53%;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}
